.num1{
	border: solid;
	background: red;
	height: 200px;
	width: 300px; 
}

.num2{ 
	border: solid;
	background: yellow;
	height: 200px;
	width: 300px;
	opacity: 0.5;
}

.num3{
	width: 300px;
	height: 300px; 
	opacity: 0.5;
}

.num4{
	background: white;
	height: 90px;
	width: 90px;
	opacity: 0.5;
}